<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TradeCo</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="../public/img/tradeco.png" alt="TradeCo Logo" />
        <h1 class="big-title">TradeCo</h1>
        <button class="cta" onclick="location.href='/'">Home</button>

      </div>
    </header>

    <main class="login-selection">
      <h2 class="login-title">Pick Your Login Type</h2>
      <div class="login-cards">
        <div class="card">
          <h3>Customer</h3>
          <p>Login as a customer to find the best tradesmen for your projects.</p>
          <button class="cta" onclick="location.href='/client/login'">Login as Customer</button>
          <button class="cta" onclick="location.href='/client/register'">Create Customer Account</button>
        </div>
        <div class="card">
          <h3>Tradesmen</h3>
          <p>Login as a tradesman to connect with customers and grow your business.</p>
          <button class="cta" onclick="location.href='/trademan/login'">Login as Tradesmen</button>
          <button class="cta" onclick="location.href='/trademan/register'">Create Tradesmen Account</button>
        </div>
        <div class="go-back"></div>
      </div>
    </main>

    <footer class="footer">
        <div class="footer-content">
          <h2>Contact Us</h2>
          <p>65 Market Street</p>
          <p>Aberdeen</p>
          <p>+44 7818904132</p>
          <p>Tradesco@hotmail.co.uk</p>
          <button class="cta" onclick="location.href='/contact_us'">GET IN TOUCH</button>
        </div>
      </footer>
  </body>
</html>
