<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TradeCo</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="img/tradeco.png" alt="TradeCo Logo" />
        <h1 class="big-title">TradeCo</h1>
      </div>
      <button class="cta" onclick="location.href='main.html'">Home</button>
    </header>

    <main class="login-selection">
        <h2 class="login-title">Login</h2>
        <form class="login-form">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required />
          </div>
          <button type="submit" class="cta">Login</button>
            <button type="button" class="cta" onclick="location.href='login.stage1.html'">Back</button>
        </form>
      </main>

    <footer class="footer">
      <div class="footer-content">
        <h2>Contact Us</h2>
        <p>65 Market Street</p>
        <p>Aberdeen</p>
        <p>+44 7818904132</p>
        <p>Tradesco@hotmail.co.uk</p>
        <button class="cta" onclick="location.href='contactus.html'">GET IN TOUCH</button>
      </div>
    </footer>
  </body>
</html>
